{% extends "base.html" %} {% block content %}{% include "navbar/navbar.html" %}

<div class="temp_post_create">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="id_title">Title</label>
    {{ form.title }}

    <label for="id_content">Content</label>
    {{ form.content }}

    <label for="id_photo">Photo:</label>
    {{ form.photo}}

    <label for="id_tagged_users">Want to tag others?</label>
    {{ form.tagged_users}}

    <button type="submit" class="post-button">Post</button>
  </form>
</div>
{% endblock %}
