{% extends "base.html" %} {% block content %}
<span></span>
{% include "navbar/navbar.html" %} {% include "post/post.html" %}
 {% if request.user == post.user %}
<div class="delete-post">
  <a href="{% url 'main:post_delete' post.slug %}">
    <button class="delete-button">Delete</button>
  </a>
</div>
{% endif %}
<div
  class="comment-section"
  style="display: flex; flex-direction: column; align-items: center"
>
  {% include "form/comment.html" %}
  <div class="comments-containter">
    {% for comment in comments %}
    <div class="comment_unit">
      <div class="comment-header">
        <img src="{{comment.user.profile_img.url}}" alt="" />
        <h3>{{comment.user.first_name}} {{ comment.user.last_name }}</h3>
      </div>
      {% if comment.parent %}
      <p style="color: #393737">
        <span style="margin-left: 20px"></span>reply to {{comment}}
      </p>
      {% endif %}
      <p><span style="margin-left: 20px"></span>{{ comment.content }}</p>
    </div>

    {% endfor %}
  </div>

  {% endblock %}
</div>
